/* styles.css by Carlos A. Valdez */

:root {
    --container-width: 1600px;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* --- --- Header --- --- */
.header {
    margin: .5rem 4rem;
    color: #1f2937;
}
.header > h1 {
    font-size: 4rem;
    font-weight: 300;
    font-style: thin;
}


/* --- --- Main --- --- */
.main {
    background-color: #d1d5db;
    color: #1f2937;
    flex: 1;
    width: 100%;
}

.main-content {
    text-align: center;
    padding: 10px;
}

#addBookBtn {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
    border: none;
    background-color: #d1d5db;;
    color: #1f2937;
    margin: 2rem;
}

.the-book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: .5rem 4rem;
    /* border: 1px solid #1f2937; */
}

.book-card {
    border: 2px solid #1f2937;
    background-color: transparent;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.modal {
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.25rem;
    justify-content: center;
    /* positioning of the modal */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
}
.add-book-form > h4 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}
.add-book-form {
    display: flex;
    flex-direction: column;
    margin: 60px;
}
.input {
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.checkbox-div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* justify-items: space-between; */
}
#hasRead {
    margin: 5px;
}

.formButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
#submitBtn {
    text-align: center;
    border-radius: 0.25rem;
    width: 100px;
}
#cancelBtn {
    text-align: center;
    border-radius: 0.25rem;
    width: 100px;
}

/* --- --- Footer --- --- */
.footer {
    color: #1f2937;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 200;
    font-style: thin;
    text-align: center;
    justify-content: center;
}
